:root {
    --dark-sea-green: #80BA9D;
    --eton-blue: #9BD1A7;
    --light-moss-green: #BEE0B4;
    --calamansi: #FFF7AB;
    --light-salmon-pink: #FF9C9F;

    --dark: #2B2D42;
    --gray: #8D99AE;
    --lightgray: #EDF2F4;
    --lightred: #EF233C;
    --darkred: #D90429;
}

html {
    height: 100%;
    width: 100%;
}

body {
    background: var(--lightgray);
    height: 100%;
    width: 100%;
    margin: 0px;
    overflow: hidden;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

}

.login-container {
    width: 18%;
    height: 50%;
    /* background-color: #FFF7AB; */
}