<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../new_styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet">
    <script src="/socket.io/socket.io.js"></script>
    <script src="chat.js"></script>
</head>
<body>
    <div class="chat-container">
        <div class="left-side">
          <div class="chat-window window">
          </div>
          <div class="message-bar">
            <div class="message-box window">
              <textarea class="text-box" placeholder="Type your message here..."></textarea>
            </div>
            <!-- <div class="send-button window"><span>Send</span></div> -->
            <div class="send-button window">
              <img src="./assets/paper-plane.png">
            </div>
          </div>
        </div>
        <div class="right-side">
          <div class="chat-room">
            <span>Chat Room</span>
          </div>
          <div class="user-window window">
            <!-- <span class="user-header"><em>Users</em></span>
            <span class="user">Steven</span>
            <span class="user">Julian</span>
            <span class="user">Darius</span> -->
          </div>
        </div>
    </div>
</body>
</html>