<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="dash_styles.css" />
    <script src="dashboard.js"></script>
    <script>
        window.onload = () => {
          init();
        }
      </script>
</head>
<body>
    <!-- Need to figure out how to show that you are logged in
    and what to show if you access this page without logging in (maybe a redirect?)
    Figure out how to implement this logic -->
    <nav>
        <div class="username-display">
            $replace$
        </div>
        <div class="user-container" onclick="toggleLoginDropdown();">
            <img class="user-icon" src="/assets/user-white.svg" alt="">
            <!-- <img class="user-icon hidden" src="/assets/user-black.svg" alt=""> -->
        </div>
    </nav>
    <!-- <div style="position: fixed; background-color: blue; width: 100px; height: 100px; margin-left: auto; margin-right: 0;"></div> -->
    <div class="login-dropdown">
        <div class="login-dropdown-option"><a href="/dashboard">Dashboard</a></div>
        <hr style="margin: 0;">
        <div class="login-dropdown-option"><a href="/dashboard">Settings</a></div>
        <hr style="margin: 0;">
        <div class="login-dropdown-option"><a href="/logout">Logout</a></div>
    </div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>


</body>
</html>